<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>OVoSys</title>
    
    <link rel="stylesheet" th:href='@{/css/style.css}'>
   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- script.js -->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    
    <!--Jquery cdn  -->
    <script src="https://code.jquery.com/jquery-3.7.0.slim.js" 
    integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" 
    crossorigin="anonymous"></script>
    
    <!-- sweet alert cdn -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    


</head>
<body>


<nav class="  navbar navbar-expand-lg navbar-dark bgprimary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/user/home}">OVoSys</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/panel}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/about}" th:text="${user.username}"></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of nav bar -->

<!-- side bar  -->
<div class="sidebar ">
		
		<span class="crossBtn" onclick="toggleSidebar()">&times;</span>
	<a class="item" href="#" th:href="@{/admin/panel}"><i class="fa-solid fa-house"></i> Home</a>
	<a class="item" href="#" th:href="@{/admin/voter}"><i class="fa-solid fa-user"></i> Voter</a>
	<!-- <a class="item" href="#">Update</a> -->
	<a class="item" href="#" th:href="@{/admin/candidate}"><i class="fa-solid fa-user"></i> Candidate</a>
	<a class="item" href="#" th:href="@{/admin/election}"><i class="fa-solid fa-check-to-slot"></i> Election</a>
	<a class="item" href="#" th:href="@{/admin/result}"><i class="fa-solid fa-square-poll-horizontal"></i> Result</a>
	<div class="divider"></div>
	
	
</div>
<!-- End of side bar -->

<!-- content bar -->
<div class="content ">
	
	<i class="fas fa-bars " onclick="toggleSidebar()"></i>
	
	<div th:replace="${content}"></div>

</div>

<!-- End of content bar -->
<!-- <footer class="bgprimary">
         
		<center>
			 <div class="sociallogo">
				<a href="#"><i class="fab fa-facebook fa-2x"></i></a> <a href="#"><i
					class="fab fa-instagram fa-2x"></i></a> <a href="#"><i
					class="fab fa-twitter fa-2x"></i></a> <a href="#"><i
					class="fab fa-linkedin fa-2x"></i></a>
			</div> 
			 &copy Copyright 2023. All Right Reserved
		</center>
	</footer> -->

 
 
 

 
</body>

</html>