<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Admin_dashboard</title>
</head>
<body>
	<section>
		
	<div class="container">
		<h1 class="text-center">Voters</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Username</th>
						<th scope="col">Email</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col"></th>


					</tr>
				</thead>
				<tbody>
				<!-- th:unless="${obj.isAdmin}" -->
					<tr th:each="obj,i :${users}"  >
						
						<td th:text="${i.count}"/>
						<td th:text="${obj.username}">
						<td th:text="${obj.email}">
						<td th:text="${obj.firstName}">
						<td th:text="${obj.lastName}">
						<td><a th:href="@{'/admin/removevoter/'+${obj.email}}" class="btn bgprimary">Remove Voters</a></td>
						
					</tr>
				</tbody>
			</table>
		</div>
		
		<script th:inline="javascript">
/*<![CDATA[*/
    

    const success = /*[[${session.success}]]*/ false;
    
    const failure= /*[[${session.failure}]]*/ false;
    console.log({success,failure})
    if(success){
    	swal("Voter Deleted Successfully", success, "success");
    	
    	
    }
        

    
/*]]>*/
</script>
<th:block th:if="${session.success}"th:text="${#session.removeAttribute('success')}"></th:block>

		


	</section>







</body>
</html>