<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<section>
	
		<h1 class="text-center">All candidates</h1>
	<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Party</th>
						<th scope="col">Remove</th>


					</tr>
				</thead>
				<tbody>
				<!-- th:unless="${obj.isAdmin}" -->
					<tr th:each="obj,i :${candidates}"  >
						
						<td th:text="${i.count}"/>
						<td th:text="${obj.name}">
						<td th:text="${obj.email}">
						<td th:text="${obj.party}">
						
						<td><a th:href="@{'/admin/removecandidate/'+${obj.email}}" class="btn bgprimary">Remove Voters</a></td>
						
					</tr>
				</tbody>
			</table>
		</div>
		
		<script th:inline="javascript">
/*<![CDATA[*/
    

    const success = /*[[${session.success}]]*/ false;
    
    const failure= /*[[${session.failure}]]*/ false;
    console.log({success,failure})
    if(success){
    	swal("Successful", success, "success");	
    	
    }
        

    
/*]]>*/
</script>
<th:block th:if="${session.success}"th:text="${#session.removeAttribute('success')}"></th:block>
		


	</section>







</body>
</html>