<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Admin_dashboard</title>
</head>
<body>
	<section>
		<h1>Welcome to Voter Pannel</h1>

		<div class="container">
			<div class="row">
				<div class="col-3">
					<div class="card" style="width: 18rem;">
						<img src="" th:src="@{/image/voter.png}" class="card-img-top"  style="width:15em"alt="...">
						<div class="card-body">
							<h5 class="card-title"> Add Voter</h5>
							<p class="card-text">Convert the User to Voter who is eligible to vote</p>
							<a href="" th:href="@{/admin/viewAllUser}" class="btn bgprimary d-grid">ADD</a>
						</div>
					</div>
				</div>

				<div class="col-3">

					<div class="card" style="width: 18rem;">
						<img src="..." th:src="@{/image/groupvoter.jpg}" class="card-img-top" style="width:12em" alt="...">
						<div class="card-body">
							<h5 class="card-title">View All Voter</h5>
							<p class="card-text">View All Eligible Voters</p>
							<a href="#" th:href="@{/admin/viewallvoters}"class="btn bgprimary d-grid">VIEW</a>
						</div>
					</div>
				</div>

				<div class="col-3">

					<div class="card" style="width: 18rem;">
						<img src="..." th:src="@{/image/removevoter.png}" class="card-img-top" style="width:13em" alt="...">
						<div class="card-body">
							<h5 class="card-title">Remove Voter</h5>
							<p class="card-text"></p>
							<a href="#" th:href="@{/admin/removevoters}" class="btn bgprimary d-grid">REMOVE</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>







</body>
</html>