@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Orelega One', cursive; */
    font-family: 'poppins',sans-serif;
    
    
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    
   
}
.bg{
    background-image:linear-gradient(rgba(248, 248, 143, 0.6),rgba(245, 247, 173, 0.963)),  url("../image/vote.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}

 .cent{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

 section #text{
    color: #000;
    font-size: 5vw;
    text-align: center;
    font-weight: bolder;
    font-family: 'Copperplate Gothic Light', cursive;
     text-shadow:7px 5px 5px rgb(0, 150, 136); 
    
}
@keyframes vote{
    0%{ }
    50%{
        font-size: 10vw; 
    }
    100%{ }
} 
section #text:hover{
    animation: vote 0.5s ease-out  ;
}
 
 #btn{
    position:relative ;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background:#009688;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    /* transform: translateY(260px); */
}
#btn:hover{
    box-shadow: 5px 5px 10px gray;
} 

footer{
	
   
    padding: 5px;
    margin: 0px;
    background: cadetblue;
    
   
   

  }
.sociallogo{
    text-align: center;
    padding: 15px;
}
.sociallogo a{
    margin: 7px;
    color: #111111;
    position: relative;
}
.sociallogo a:hover{
    color: aqua;
}
.bgprimary{
	background:#009688 !important;
	 
	
}

.my-card{
	padding:20px;
	background:#ffffff;
	margin-bottom:30px;
	padding-top:45px;
}
/* sidebar */

@media only screen and (max-width:700px) {
	.sidebar {
		display: none;
		width: 100% !important;
		background: white;
		height: 100vh;
		position: fixed;
		margin-top: 20px;
	}
	.content{
		margin-left:0% !important;
	}
}

.sidebar{
	width:18%;
	background: #00E3CD;
	height:100%;
	position:fixed;
	padding-top:20px;
	z-index:999999999999999999999999999999999999
	
}
.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:gray;
}
.sidebar a:hover{
	background:#e2e2e2;
}
.sidebar .divider{
	height:.5px;
	width:100px;
	background:green;
	margin-top:10px;
}
.content{
	margin-left:20%;
	
}
.sidebar .crossBtn{
	position:absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
}
