<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org "
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>OVoSys</title>
<link rel="stylesheet" th:href='@{/css/register.css}'>

</head>
<body>
	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-8 offset-md-2">
					<div th:if="${param.success}">
						<div class="alert alert-info">You have successfully
							registered our app!</div>
					</div>
					<div class="my-card mt-1">


						<div th:if="${session.message}"
							th:classAppend="${session.classType}" class="alert " role="alert">
							<p class="text-center" th:text="${session.message}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>

						<div class="text-center">
							<img class="" style="width: 100px" src=""
								th:src="@{/image/registered.png}" alt="" />
						</div>

						<h1 class="text-center">Register Here!!</h1>

						<form novalidate method="post" role="form" th:action="@{/do_register}"
							th:object="${user}">

							<div class="form-group mb-3">
								<label class="form-label">Username</label>
								 <input
									class="form-control " id="username" name="username"
									placeholder="Enter username" th:field="*{username}" type="text" />
								<p th:errors="*{username}" class="text-danger"
									th:if="${#fields.hasErrors('username')}"></p>
								
							</div>

							<!-- First Name -->
							<div class="form-group mb-3">
								<label class="form-label">First Name</label> <input
									class="form-control" id="firstName" name="firstName"
									placeholder="Enter first name" th:field="*{firstName}"
									type="text" />
								<p th:errors="*{firstName}" class="text-danger"
									th:if="${#fields.hasErrors('firstName')}"></p>
							</div>

							<div class="form-group mb-3">
								<label class="form-label">Last Name</label> <input
									class="form-control" id="lastName" name="lastName"
									placeholder="Enter last name" th:field="*{lastName}"
									type="text" />
								<p th:errors="*{lastName}" class="text-danger"
									th:if="${#fields.hasErrors('lastName')}"></p>
							</div>

							<div class="form-group mb-3">
								<label class="form-label">Date Of Birth</label> <input
									class="form-control" id="dateOfBirth" name="dateOfBirth"
									placeholder="Enter Date Of Birth" th:field="*{dateOfBirth}"
									type="date" />
								<p th:errors="*{firstName}" class="text-danger"
									th:if="${#fields.hasErrors('firstName')}"></p>
							</div>

							<div class="form-group mb-3">
								<label class="form-label">Email</label> <input
									class="form-control" id="email" name="email"
									placeholder="Enter email address" th:field="*{email}"
									type="email" required="required" />
								<p th:errors="*{email}" class="text-danger"
									th:if="${#fields.hasErrors('email')}"></p>
							</div>

							<div class="form-group mb-3">
								<label class="form-label">Password</label> <input
									class="form-control" id="password" name="password"
									placeholder="Enter password" th:field="*{password}"
									type="password" />
								<p th:errors="*{password}" class="text-danger"
									th:if="${#fields.hasErrors('password')}"></p>
							</div>

							<!-- Agreement terms and condition -->
							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept terms
									and conditions</label>
							</div>

							<div class="container text-center">
								<button type="submit"
									class=" btn bgprimary btn-block text-white">register</button>
								<button type="reset"
									class="btn btn-warning btn-block text-white">reset</button>
								<span>Already registered? <a th:href="@{/loginPage}">Login
										here</a></span>
							</div>
						</form>

					</div>

				</div>

			</div>
		</div>
	</section>
</body>
</html>